# App
APP_ENV=development
APP_PORT=8070

# Supabase
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=xxxx
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname

# Google Cloud Pub/Sub
GOOGLE_CLOUD_PROJECT=xxxx
PUBSUB_SUBSCRIPTION_ORDER_CREATED=projects/xxxx/subscriptions/order-created-sub
PUBSUB_SUBSCRIPTION_PAYMENT_APPROVED=projects/xxxx/subscriptions/payment-approved-sub
PUBSUB_SUBSCRIPTION_INVENTORY_SHORTAGE=projects/xxxx/subscriptions/inventory-shortage-sub
PUBSUB_SUBSCRIPTION_SHIPMENT_DELIVERED=projects/xxxx/subscriptions/shipment-delivered-sub

# Mocks — pon true para activar el middleware de mock de status HTTP
USE_MOCKS=false
